{% extends 'base.html' %}


{% block main %}
    <div class="col-sm-8 blog-main">

        <div class="blog-post">
             <h2 class="blog-post-title"><a href="{{ SITEURL }}/{{ page.url }}">{{ page.title }}</a></h2>
            <p class="blog-post-meta">{{ page.date }} by <a href="{{ SITEURL }}/{{ page.author.url }}">{{ page.author }}</a></p>

            <p>{{ page.summary }}</p>
            <hr>
            {{ page.content }}
        </div><!-- /.blog-post -->


    </div><!-- /.blog-main -->
{% endblock %}

